#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
	<script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
	<script src="@{'/public/javascripts/checkboxes.js'}" type="text/javascript" charset="utf-8"></script>
#{/set}

<h1>Checkboxes with Person mapping : ${date}</h1>
<div>
	<h2>default rendering toString</h2>
	<form method="get" action="/persons">
		#{input.checkboxes values:items, selected:selected, basename:"selectedPersons", value:"id" /}
		<input type="submit"/>
	</form>
</div>  

<div>
	<h2>rendering is done using specific property: fullname</h2>
	<form method="get" action="/persons">
		#{input.checkboxes values:items, selected:selected, basename:"selectedPersons", value:"id", text:"fullname" /}
		<input type="submit"/>
	</form>
</div>  

<div>
    <h2>rendering is done using specific property: lastname and without "All/None" checkbox</h2>
    <form method="get" action="/persons">
        #{input.checkboxes values:items, selected:selected, basename:"selectedPersons", value:"id", text:"lastname", "all-none":false /}
        <input type="submit"/>
    </form>
</div>  